@charset "utf-8";
/* CSS Document */

.body{
	width: 80%;
	margin:0 auto;
	text-align:center;
	
}

.nav{
	background:#0095cd;
	height: 43px;
	width: 100%;
	z-index: 9998;
	position: fixed;
	left: 0px;
}

.top{
	top: 0px;
}

.bottom{
	bottom: 0px;
}

.nav ul{
	display: inline;
	float: left;
	font-size: 14px;
	margin: 0 0 0 163px;
}

.nav ul li{
	list-style: none outside none;				
	margin:2px 10px 2px 0;
	background: #0089cd;
	display: inline;
	float: left;
	position: relative;
	z-index: 9998;
	color: #FFFFFF;
	display: inline-block;
	height: 28px;
	padding-top:10px;
	text-align:center;
	border-radius: .2em;
}
.li-active{
	background:#007ead !important;
}

ul li a{	
	text-align:center;		
	color: #FFffff;
	outline:none;
	padding:0 20px 0 20px;
	text-decoration:none; 
	cursor: pointer;
}
ul li a:hover{
	color: #6FF;
	text-decoration: underline;
}