@charset "utf-8";
* {
	outline:none !important;
	-moz-outline: none !important;
}
a{ outline:none;text-decoration:none;}
.top{
	top: 0px;
}
.li-active{
	background:#007ead !important;
}
.my_ul ul li{ float: left; display: inline; margin-right: 15px; margin-top: 5px; white-space:nowrap; width:100px}
body {margin:0 auto;color:#131313; background-color:#fafafa; text-align:center}
#navmenu{margin:0 auto;
	background:#0095cd;
	border-radius:5px;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	opacity:.99;filter:alpha(opacity=100)
}
#navmenu ul {float:left;margin:0;padding:0;}
#navmenu ul li {float:left;height:45px;line-height:45px;position:relative;padding:0 0 0 2px;list-style:none;}
#navmenu ul li a:hover{ background:#00a5cd;}
#navmenu ul li a {padding:0 25px 0 23px;color:#ffffff;float:left;}
#navmenu ul li ul{position:absolute;top:45px;left:0;width:130px;background:#fffff;filter:alpha(opacity=90);opacity:.9;-moz-opacity:.9;display:none; border:solid 0.5px #d1d1d1; padding-bottom:3px;background-color:#fff;
	border:1px solid #ccc;
	border-radius:5px;}
#navmenu ul li ul li {background:none;float:left;border-bottom:1px #3a3a3a solid;padding: 2px;display:block;width:104px;margin-left:8px;height:33px}
#navmenu ul li ul li a{float:none;border-radius:5px;text-decoration:none;color:#000000;display: block;font-size: 14px;line-height:30px;padding:0px 10px;width:90px; height:33px}
#navmenu ul li ul li a:hover{ color:#00a5cd;background:none;}

.content{
	margin-top:80px; 
	text-align:center;
	 min-width:300px !important; 
	 width:80%;   
	 margin:0 auto;
}
